.conteneur {
  width: 48%;
  margin: 10px auto;
}

.entete {
  height: 210px;
}

div.entete img {
  float: left;
  height: 100%;
  border-radius: 50%;
}

.detail {
  float: left;
  list-style-type: none;
  margin-top: 50px;
}

h1,
h2 {
  text-align: center;
}

hr {
  border-color: lightblue;
}

.section {
  margin-bottom: 20px;
}

p {
  margin: 0px;
}
